:root {
    --navigation_text-color: #E9EBEC;
    --navigation_activate_text-color: #FFFFFF;
    --navigation_hover_text-color_menu: #e9ebec;
    --navigation_icon-color: #9cb1c7;
    --navigation_active_icon-color: #FFFFFF;
    --navigation_logo_fill: #161e34;
    --navigation_logo_fill_hover: #192138;
    --navigation_background-color: #050620;
    --navigation_hover_background-color: #151C33;
    --navigation_active_background-color: #161E34;
    --navigation_menu_fill: #11172E;
    --navigation_menu_hover: #161E34;
    --navigation_fill_plus: #222D44;
    --navigation_fill_plus_hover: #1B253A;
    --navigation_counter_hover_background-color: #1B253A;
    --navigation_counter_on_menu_hover_background-color: #1D263C;
    --navigation_logo: #71D186;
    --header_text_logo_color_NavigationPanels-Sidebar: #FFFFFF;
    --navigation_marker-color: #71D186;
    --navigation_separator-color: #161E34;
    --navigation_counter_separator-color: #20273C;
    --text-color: #000000;
    --hover_text-color: #575757;
    --contrast_text-color: #FFFFFF;
    --unaccented_text-color: #999999;
    --unaccented_hover_text-color: #666666;
    --primary_text-color: #cc3d00;
    --primary_hover_text-color: #e27140;
    --secondary_text-color: #313e78;
    --secondary_hover_text-color: #1e5391;
    --label_text-color: #8991a9;
    --label_hover_text-color: #313e78;
    --label_contrast_text-color: #656c87;
    --link_text-color: #2562aa;
    --link_hover_text-color: #153f6f;
    --border-color: #eaeaea;
    --hover_border-color: #D0d0d0;
    --unaccented_border-color: #d2d6da;
    --unaccented_hover_border-color: #8f99a3;
    --primary_border-color: #f88f62;
    --primary_hover_border-color: #f55714;
    --secondary_border-color: #5292dc;
    --secondary_hover_border-color: #00489b;
    --pale_border-color: #e5e7eb;
    --pale_hover_border-color: #e4e4e4;
    --separator_color: #000 4%;
    --separator_color_2: #000 8%;
    --danger_background-color: #fff7f7;
    --danger_hover_background-color: #ffeceb;
    --danger_active_background-color: #ffdddb;
    --success_background-color: #f7fff8;
    --success_hover_background-color: #ebffee;
    --success_active_background-color: #dbffe2;
    --warning_background-color: #fffcf7;
    --warning_hover_background-color: #fff8eb;
    --warning_active_background-color: #fff3db;
    --info_background-color: #f8f7ff;
    --info_hover_background-color: #eeebff;
    --info_active_background-color: #e1dbff;
    --readonly_background-color: #dce1e4;
    --danger_same_background-color: #ffeceb;
    --danger_hover_same_background-color: #ffdddb;
    --danger_active_same_background-color: #ffcfcc;
    --success_same_background-color: #ecf9ec;
    --success_hover_same_background-color: #e0f5e0;
    --success_active_same_background-color: #d5f1d5;
    --warning_same_background-color: #fff8eb;
    --warning_hover_same_background-color: #fff3db;
    --warning_active_same_background-color: #fFeEcC;
    --info_same_background-color: #eeebff;
    --info_hover_same_background-color: #e1dbff;
    --info_active_same_background-color: #d4ccff;
    --danger_color: #dc2219;
    --danger_hover_color: #c22219;
    --danger_active_color: #aa2018;
    --success_color: #12a12c;
    --success_hover_color: #128c29;
    --success_active_color: #127d26;
    --warning_color: #ecb956;
    --warning_hover_color: #e5ab38;
    --warning_active_color: #df9f20;
    --info_color: #6757b7;
    --info_hover_color: #5949a7;
    --info_active_color: #504294;
    --translucent_background-color: #cdcdcd 80%;
    --translucent_hover_background-color: #С4с4с4 80%;
    --translucent_active_background-color: #BDBDBD 80%;
    --translucent_background-color_light: #FFFFFF 35%;
    --translucent_hover_background-color_light: #FFFFFF 50%;
    --translucent_active_background-color_light: #FFFFFF 70%;
    --brand_color: #0085f2;
    --unaccented_color: #999999;
    --marker_color: #cc3d00;
    --marker_hover_color: var(--pale_border-color);
    --rate_icon-color: #fec63f;
    --item_selected_color: #05121e;
    --item_selected_text-color: #ffffff;
    --item_selected_icon-color: #ffffff;
    --invalid_border-color: var(--danger_color);
    --invalid_focus_background-color: var(--danger_background-color);
    --focused_border-color: #2e66d2;
    --focused_background-color: #2e66d2 15%;
    --unread_text-color: var(--primary_text-color);
    --image_background-color: #f8f8f8;
    --placeholder_text-color_list: #AAB0C1;
    --text_background-color_decoratorHighlight: #fffece;
    --text-color_decoratorHighlight: #000000;
    --shadow-color_a: rgba(0, 0, 0, 0.12);
    --shadow-color_b: rgba(0, 0, 0, 0.14);
    --shadow-color_c: rgba(0, 0, 0, 0.06);
    --shadow-color_d: rgba(0, 0, 0, 0.10);
    --shadow-color: rgba(0, 0, 0, 0.20);
    --dim_background-color: rgba(0, 0, 0, 0.40);
    --swipe1BackgroundColor: #F19B38;
    --swipe2BackgroundColor: #4B6FA3;
    --swipe3BackgroundColor: #07A723;
    --swipe4BackgroundColor: #D04049;
    --swipe5BackgroundColor: #B4B4B4;
    --danger_text-color: #c2140a;
    --danger_hover_text-color: #e50c00;
    --success_text-color: #298e3c;
    --success_hover_text-color: #28bd44;
    --warning_text-color: #e6a119;
    --warning_hover_text-color: #f6c055;
    --info_text-color: #5a49ab;
    --info_hover_text-color: #7e70c2;
    --readonly_text-color: #cccccc;
    --placeholderBorderColor: #9AA2B5;
    --placeholderSkinColor: transparent;
    --placeholderHairColor: transparent;
    --placeholderDressColor: transparent;
    --border-radius: 100px;
    --7xl: 300px;
    --6xl: 190px;
    --5xl: 144px;
    --4xl: 96px;
    --3xl: 72px;
    --2xl: 64px;
    --xlt: 56px;
    --xl: 48px;
    --l: 40px;
    --mt: 36px;
    --m: 32px;
    --s: 24px;
    --xs: 16px;
}
